<noname>
	<databases>
		<vendor>
	    		<name>MySQL</name>
	    		<version>3.23.38</version>
			<driver>org.gjt.mm.mysql.Driver</driver>
	   		<local>jdbc:mysql://192.168.10.14/biblioweb</local>
	    		<administrator>
	        		<username>root</username>
	            		<password></password>
	    		</administrator>
	  	</vendor>
		<vendor>
	    		<name>PostGreSQL</name>
	    		<version>3.23.38</version>
			<driver>org.postgresql.Driver</driver>
	   		<local>jdbc:postgresql://192.168.10.3/bibliweb</local>
	    		<administrator>
	        		<username>marcello</username>
	            		<password>d</password>
	    		</administrator>
	  	</vendor>
	</databases>
	<website>
		<directory>
			<documentRoot>http://localhost:8080</documentRoot>
			<servlet>/servlet/</servlet>
			<images>/sources/images/</images>
			<upload>C:\wwwserver\tomcat4.0.3N\webapps\bibliweb\sources\images\users</upload>
		</directory>
		<emailserver>
			<smtp>localhost</smtp>
			<port></port>
			<serviceID>[BiblioWeb] </serviceID>
		</emailserver>
		<chat>
			<socket>5000</socket>
			<rmi>5001</rmi>
			<server>192.168.10.16</server>
			<html>http://192.168.10.16:8080/</html>
			<servlet>http://192.168.10.16:8080/servlet/</servlet>
		</chat>
		<whiteboard>
			<socket>5005</socket>
			<server>www.biblioweb.ufal.br</server>
		</whiteboard>
	</website>
</noname>
