SUP {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 8pt
}
SUB {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 8pt
}
DIV.BCT {
	COLOR: #ffffff; FONT-FAMILY: Sans-Serif, Arial,Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
TD.BCT2 {
	COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
DIV.head {
	COLOR: #990000; FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
DIV.headline {
	COLOR: #990000; FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
DIV.subhead {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 13pt
}
TT {
	FONT-FAMILY: New Courier,Courier; FONT-SIZE: 10pt
}
XMP {
	FONT-FAMILY: New Courier,Courier; FONT-SIZE: 10pt
}
PRE {
	FONT-FAMILY: New Courier,Courier; FONT-SIZE: 10pt
}
CODE {
	FONT-FAMILY: New Courier,Courier; FONT-SIZE: 10pt
}
BODY {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
BR {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
H4 {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
DIV {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
B {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
UL {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
OL {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
DL {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
DD {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
LI {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
CENTER {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
BLOCKQUOTE {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 10pt
}
H3 {
	FONT-FAMILY: Arial,Helvetica; FONT-SIZE: 13pt
}
