A.features {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: Verdana
}
A.columns {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: Verdana
}
A.departments {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial
}
.author {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.columns {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.caption {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial
}
.copyright {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.getcode {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #336633; FONT-FAMILY: Arial
}
.dek {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Arial
}
.smallwhite {
	FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
.column_header {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.column_title {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #000000; FONT-FAMILY: Arial
}
.column_dek {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-STYLE: italic; FONT-FAMILY: Arial
}
.column_wyn {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.column_wyn_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.column_dropcap {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #336699; FONT-FAMILY: Arial
}
.column_aboutauthor {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.column_authorbio {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.dc_feat {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #336633; FONT-FAMILY: Arial, Helvetica
}
.titlefont_feat {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #336633; FONT-FAMILY: Arial, Helvetica
}
.titlefont_col {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica
}
.small {
	FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana, Helvetica, Arial
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Helvetica, Arial
}
LI {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Helvetica, Arial
}
.figure {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.toolreviews_title {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #000000; FONT-FAMILY: Arial
}
.toolreviews_dropcap {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-FAMILY: Arial
}
.toolreviews_quickfact {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.toolreviews_authorbio {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana
}
.toollistings_products {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.toollistings_dropcap {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-FAMILY: Arial
}
.toollistings_product {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: Arial
}
.body {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana
}
P {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.figtab {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana
}
.listings_lang {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.listings_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.listings_listing {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.sidebar_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.sidebar_dropcap {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-FAMILY: Arial
}
.essentialtips_level {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial
}
.essentialtips_lang {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.essentialtips_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.essentialtips_sendyourtip_red {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000; FONT-FAMILY: Verdana
}
.essentialtips_sendyourtip {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana
}
.letters {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #000000; FONT-FAMILY: Arial
}
.letters_subhead {
	FONT-WEIGHT: bold; COLOR: #990000; FONT-FAMILY: font-size: 11pt
}
.letters_contact {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.letters_contact_subhead {
	FONT-SIZE: 7pt; COLOR: #990000; FONT-FAMILY: Verdana
}
